@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-item {
    color: #ffffff8c;
  }

  .nav-active {
    @apply text-white;
  }

  #__next {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto;
  }
}
